
DATABASE_URL="postgresql://user:password@ep-xxx.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.region.aws.neon.tech/dbname?sslmode=require"


NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-generated-secret-here"

# Google: https://console.cloud.google.com/apis/credentials
# GitHub: https://github.com/settings/developers
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google and Github OAUTH Callback
# `https://your-app-url-vercel.app/api/auth/callback/google`
# `https://your-app-url-vercel.app/api/auth/callback/github`


# For SANDBOX (Testing with ngrok):
MPESA_CONSUMER_KEY="your-consumer-key"
MPESA_CONSUMER_SECRET="your-consumer-secret"
MPESA_SHORTCODE="174379"
MPESA_PASSKEY="your-passkey"
MPESA_ENVIRONMENT="sandbox"

# M-Pesa B2C - For withdrawals
MPESA_B2C_SHORTCODE="your-b2c-shortcode"
MPESA_INITIATOR_NAME="your-initiator-name"
MPESA_SECURITY_CREDENTIAL="your-encrypted-security-credential"



# - Local dev: use ngrok URL for M-Pesa callbacks
# - Production: use your Vercel URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Development mode - set to "true" to bypass M-Pesa payments (for testing only)
DEV_MODE="false"
NEXT_PUBLIC_DEV_MODE="false"

# Platform Admin Email (user with this email gets admin role)
PLATFORM_ADMIN_ID="admin@questy.app"

RESEND_API_KEY="re_your_api_key"
EMAIL_FROM="onboarding@resend.dev"
